$body-color:#1A1A1A;
$footer-short-info-color:rgba(221, 221, 221, 1);
$primary-color:rgba(99, 68, 198, 1);
$yellow:rgb(223, 250, 109);
$text-color:#dddddd;
$counter-bg:rgb(113, 62, 221);
$counter-text-color:#E8E8E8;